<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
        {{!-- navbar --}}
        <h1 id="logo">The Tech Blog</h1>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if logged_in}}
            {{!-- only show the dashboard and logout option if the user is logged in --}}
            <li href="/dashboard">Dashboard</li>
            <li id="logout">Logout</li>
            {{else}}
            {{!-- only show the login button if the user is not logged in --}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </header>
    {{{body}}}
</body>
</html>